@import "../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";

html {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.flex{
  display: flex !important;
}
/* Bootstrap */
.container-fluid {
  padding: 0 40px !important;
}
.expand-menu .dropdown-menu.show{
  width: 400px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dropdown-menu .dropdown-item{
  padding: 0.5rem 1.5rem;
  border-radius: 0px !important;
}
.expand-menu .dropdown-menu.show .dropdown-item{
  width: 50% !important;
}
/* .nav-item:hover .dropdown-menu{
  display:block!important
} */
.navbar-light .navbar-nav .nav-link {
  margin-left: 0 !important;
  padding-left: 1rem !important;
}
.navbar .dropdown-menu button {
  display: block;
  padding: 0.5rem 1rem;
  background: #fff !important;
  border: none;
  color: #000 !important;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
.navbar .dropdown-menu button:focus,
.navbar .dropdown-menu button:active {
  background-color: #fff !important;
  border: none !important;
  color: #000 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.navbar-light .dropdown-menu .nav-link {
  color: #000 !important;
}
.navbar-light .dropdown-menu .nav-link:hover {
  color: #028090;
}
/* Custom */
.list-item {
  margin-bottom: 30px;
}

/* loader */
.loader{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
